@import "tailwindcss";

@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --skeleton-color: 255 255 255;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --skeleton-color: 200 200 200;
  }
}

body {
  height: 100%;
  width: 100%;
  min-height: 100svh;
  background: var(--background);
  color: var(--foreground);
}

@keyframes skeleton-pulse {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.6;
  }
  20% {
    opacity: 0.5;
  }
  30% {
    opacity: 0.4;
  }
  40% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.2;
  }
  60% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.skeleton-pulse {
  animation: skeleton-pulse 1s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
  will-change: opacity;
}
